@{
    ViewBag.Title = "Home Page";
}
<!--Home page that allows you to navigate to each Calculator-->
<h2>Home Page</h2>

@Html.ActionLink("Link to Bonus Calculator", "Index", "Bonus")
<br>

@Html.ActionLink("Link to Credit Card Payment Calculator", "Index", "Credit")
<br>

@Html.ActionLink("Link to Next Year Salary Predictor", "Index", "Salary")
<br>




